@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.bg-banner {
    background-image: url('public/imgs/imagenBanner1.jpg');
    background-size: cover;
    background-position: center;
}

.title{
    @apply  font-semibold  leading-tight text-3xl drop-shadow-md  text-white;
}

.content-data{
    @apply drop-shadow-md p-6 bg-white  border-b rounded
}

.button-add{
    @apply text-white bg-blue-500 hover:bg-blue-700 py-2 px-4 rounded drop-shadow-md;
}

.button-edit{
   @apply py-2 px-4  text-yellow-600 hover:text-yellow-700
}

.button-delete{
    @apply py-2 px-4 text-red-600 hover:text-red-700
}